<!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <meta content="email=no" name="format-detection">
        <title>标题</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet", type="text/css", href="static/index.css">
    </head>
    <body>
        <div id='defaultId'></div>
        <div id='moreId'></div>
        <div id="showTotal"></div>
        <div id="simpleId"></div>
        <script src="static/common/react.min.js"></script>
        <script src="static/common/react-dom.min.js"></script>
        <script src="static/bundle.js"></script>
    </body>
</html>
